{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <div class="g-pa-20">
    <h1 class="g-font-weight-300 g-font-size-24 g-color-black g-mb-30">Time Sales Data for {{ timesales_list.first.store }}</h1>



    <form action="" type="get">
            <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-20 g-mb-30">
                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">날짜</h4>

              <div class="form-group g-mb-20">
                <div id="datepickerWrapper" class="u-datepicker-right u-datepicker--v3 g-pos-rel w-100 g-cursor-pointer g-brd-around g-brd-gray-light-v7 g-rounded-4">
                  <input class="js-range-datepicker g-bg-transparent g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-pr-80 g-pl-15 g-py-9" type="text" placeholder="Select Date" data-rp-wrapper="#datepickerWrapper" data-rp-date-format="d/m/Y">
                  <div class="d-flex align-items-center g-absolute-centered--y g-right-0 g-color-gray-light-v6 g-color-lightblue-v9--sibling-opened g-mr-15">
                    <i class="hs-admin-calendar g-font-size-18 g-mr-10"></i>
                    <i class="hs-admin-angle-down"></i>
                  </div>
                </div>
              </div>
              <div class="form-group g-mb-20">
                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">매장</h4>
                  <div class="btn-group justified-content">
                    <label class="u-check">
                      <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" value="hd1" checked="" type="radio">
                      <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0">홍대1</span>
                    </label>
                    <label class="u-check">
                      <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" value="hd2"  type="radio">
                      <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">홍대2</span>
                    </label>
                    <label class="u-check">
                      <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" value="sc"  type="radio">
                      <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">신촌</span>
                    </label>
                    <label class="u-check">
                      <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" value="bp"  type="radio">
                      <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">부평</span>
                    </label>
                    <label class="u-check">
                      <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" value="sw"  type="radio">
                      <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">수원</span>
                    </label>
                    <label class="u-check">
                      <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" value="sh"  type="radio">
                      <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">서현</san>
                    </label>
                  </div>
              </div>
                        <input class="btn btn-md btn-block" type="submit" />

            </div>
    </form>
    <header class="g-mb-20">
      <h2 class="g-font-weight-400 g-font-size-16 g-color-black mb-0">{{ timesales_list.first.time|date:"SHORT_DATE_FORMAT" }}</h2>
    </header>
    <div class="table-responsive g-mb-40">
      <table class="table u-table--v3 g-color-black">
        <thead>
          <tr>
            <th>Time</th>
            <th>Count</th>
            <th>Sales</th>
          </tr>
        </thead>
        <tbody>

    {% for timesales in timesales_list %}
        <tr>
            <td>{{ timesales.time.time|date:"H" }}</td>
            <td>{{ timesales.count }}</td>
            <td>{{ timesales.sales|intcomma }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
{% block javascript %}
  <script>
    $(document).on('ready', function () {
      // initialization of custom select
      $('.js-select').selectpicker();

      $('.js-select').on('shown.bs.select', function (e) {
        $(this).addClass('opened');
      });

      $('.js-select').on('hidden.bs.select', function (e) {
        $(this).removeClass('opened');
      });

      // initialization of range datepicker
      $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');

      // initialization of sidebar navigation component
      $.HSCore.components.HSSideNav.init('.js-side-nav');

      // initialization of hamburger
      $.HSCore.helpers.HSHamburgers.init('.hamburger');

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {dropdownHideOnScroll: false});

      // initialization of custom scrollbar
      $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));
    });
  </script>
{% endblock %}