packages:
  yum:
    freetype-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []

container_commands:
  01_migrate:
    command: "python manage.py migrate"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_chmod_sqlite:
    command: "chmod 666 db.sqlite3"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: shopvr_admin.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: shopvr_admin/w       sgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "staticfiles/"
