{% load static %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">


<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119547602-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119547602-1');
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<!--여기부터 네이버 메타태그-->
	
	<meta name="title" content="" />
	<meta name="keyword" content="" />
	<meta name="description" content="">

	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="#">
	<meta property="og:url" content="">
	<!--여기까지 네이버 메타태그-->

	<title> 세상에 없는 데이트 ,샵브이알</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
	<link rel="stylesheet" type="text/css" href="{% static "franchise_hp/css/common.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "franchise_hp/css/main.css" %}" />
	
	<link rel="stylesheet" type="text/css" href="{% static "franchise_hp/css/jquery.bxslider.css" %}" />
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "franchise_hp/js/jquery.bxslider.js" %}" type="text/javascript"></script>
    <script src="{% static "franchise_hp/js/jquery.bxslider.min.js" %}" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('.bxslider').bxSlider({
		auto:true,
		controls: false
		});


	});
</script>


</head>
<body class="wrap">
	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_01.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_02.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_03.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_04.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_05.jpg" %}">
	</div>

	<div class="section05_slides">
		<ul class="bxslider">
			<li><img src="{% static "franchise_hp/img/section05_slides01.jpg" %}"></li>
			<li><img src="{% static "franchise_hp/img/section05_slides02.jpg" %}"></li>
			<li><img src="{% static "franchise_hp/img/section05_slides03.jpg" %}"></li>
			<li><img src="{% static "franchise_hp/img/section05_slides04.jpg" %}"></li>
			<li><img src="{% static "franchise_hp/img/section05_slides05.jpg" %}"></li>
			<li><img src="{% static "franchise_hp/img/section05_slides06.jpg" %}"></li>
			<li><img src="{% static "franchise_hp/img/section05_slides07.jpg" %}"></li>
		</ul>
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_07.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_08.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_09.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_10.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_11.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_12.jpg" %}">
	</div>

	<div class="section_img">
		<img src="{% static "franchise_hp/img/section_13.jpg" %}">
	</div>
	
	<div class="db_area">
        <form action={% url "franchise_hp:email" %} method="post">
            {% csrf_token %}
		<div class="title">가맹문의</div>
		<div class="db">
			<div class="top">
				<ul class="left">
					<li>
						<div class="name">제목</div>
						<div class="inputbox">
							<input type="text" class="inputstyle" name="title"></input>
						</div>
					</li>
					
					<li>
						<div class="name">이름</div>
						<div class="inputbox">
							<input type="text" class="inputstyle" name="name"></input>
						</div>
					</li>
					
					<li>
						<div class="name">번호</div>
						<div class="call_input">
							<div>
								<select class="inputstyle">
									<option>010</option>
									<option>011</option>
									<option>016</option>
									<option>017</option>
									<option>018</option>
									<option>019</option>
								</select>
							</div>
							<div><input type="text" class="inputstyle" name="pn-middle"></input></div>
							<div><input type="text" class="inputstyle" name="pn-last"></input></div>
						</div>
					</li>
				</ul>
				
				<div class="info">
					가맹 문의<br><br>
					Email  phi@bakecompany.net<br>
					전화 번호 010-7247-2673<br>
					주식회사 베이크 대표 이근혁<br>
				</div>
			</div>
			
			<div class="cont">
				<div class="name">내용</div>
				<div class="textarea">
                    <input type="text" class="inputstyle" name="content"></input>
				</div>
			</div>
			
			<input type="submit" class="button" name="제출"></input>
		</div>
            </form>
	</div>
</body>
</html>
