      <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
        <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
          <!-- Dashboards -->
          <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item u-side-nav-opened has-active">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu1">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18"><i class="hs-admin-server"></i></span>
              <span class="media-body align-self-center">Dashboards</span>
              <span class="d-flex align-self-center u-side-nav--control-icon"><i class="hs-admin-angle-right"></i></span>
              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>
            <!-- Dashboards: Submenu-1 -->
            <ul id="subMenu1" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0" style="display: block;">
              <!-- Dashboards v1 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 active" href="dashboards/dashboard-v1.html">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-infinite"></i>
        </span>
                  <span class="media-body align-self-center">Dashboards v1</span>
                </a>
              </li>
              <!-- End Dashboards v1 -->

              <!-- Dashboards v2 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="dashboards/dashboard-v2.html">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-blackboard"></i>
        </span>
                  <span class="media-body align-self-center">Dashboards v2</span>
                </a>
              </li>
              <!-- End Dashboards v2 -->

              <!-- Dashboards v3 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="dashboards/dashboard-v3.html">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-harddrive"></i>
        </span>
                  <span class="media-body align-self-center">Dashboards v3</span>
                </a>
              </li>
              <!-- End Dashboards v3 -->

              <!-- Dashboards v4 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="dashboards/dashboard-v4.html">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-harddrive"></i>
        </span>
                  <span class="media-body align-self-center">Dashboards v4</span>
                </a>
              </li>
              <!-- End Dashboards v4 -->
            </ul>
            <!-- End Dashboards: Submenu-1 -->
          </li>
          <!-- End Dashboards -->

          <!-- Forms -->
          <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu7">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
      <i class="hs-admin-pencil-alt"></i>
    </span>
              <span class="media-body align-self-center">Forms</span>
              <span class="d-flex align-self-center u-side-nav--control-icon">
      <i class="hs-admin-angle-right"></i>
    </span>

              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>

            <!-- Forms: Submenu-1 -->
            <ul id="subMenu7" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
              <!-- Elements -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu7Elements">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-list"></i>
        </span>
                  <span class="media-body align-self-center">Elements</span>
                  <span class="d-flex align-self-center u-side-nav--control-icon">
          <i class="hs-admin-angle-right"></i>
        </span>
                </a>

                <!-- Menu Leveles: Submenu-2 -->
                <ul id="subMenu7Elements" class="u-side-nav--third-level-menu">
                  <!-- Text Inputs -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-text-inputs.html">Text Inputs</a>
                  </li>
                  <!-- End Text Inputs -->

                  <!-- Textareas -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-textareas.html">Textareas</a>
                  </li>
                  <!-- End Textareas -->

                  <!-- Selects -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-selects.html">Selects</a>
                  </li>
                  <!-- End Selects -->

                  <!-- Advanced Selects -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-advanced-selects.html">Advanced Selects</a>
                  </li>
                  <!-- End Advanced Selects -->

                  <!-- Checkboxes &amp; Radios -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-checkboxes-radios.html">Checkboxes &amp; Radios</a>
                  </li>
                  <!-- End Checkboxes &amp; Radios -->

                  <!-- Toggles -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-toggles.html">Toggles</a>
                  </li>
                  <!-- End Toggles -->

                  <!-- File Inputs -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-file-inputs.html">File Inputs</a>
                  </li>
                  <!-- End File Inputs -->

                  <!-- Sliders -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-sliders.html">Sliders</a>
                  </li>
                  <!-- End Sliders -->

                  <!-- Text Inputs with Tags -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-tags.html">Text Inputs with Tags</a>
                  </li>
                  <!-- End Text Inputs with Tags -->

                  <!-- Ratings -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-ratings.html">Ratings</a>
                  </li>
                  <!-- End Ratings -->

                  <!-- Datepickers -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-datepickers.html">Datepickers</a>
                  </li>
                  <!-- End Datepickers -->

                  <!-- Quantities -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-elemets-quantities.html">Quantities</a>
                  </li>
                  <!-- End Quantities -->
                </ul>
                <!-- End Menu Leveles: Submenu-2 -->
              </li>
              <!-- End Elements -->

              <!-- Layouts -->
              <!--     <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
      <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="#!">
        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-layout-media-overlay"></i>
        </span>
        <span class="media-body align-self-center">Layouts</span>
      </a>
    </li> -->
              <!-- End Layouts -->

              <!-- Validation -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu7Validation">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-list"></i>
        </span>
                  <span class="media-body align-self-center">Validation</span>
                  <span class="d-flex align-self-center u-side-nav--control-icon">
          <i class="hs-admin-angle-right"></i>
        </span>
                </a>

                <!-- Validation: Submneu -->
                <ul id="subMenu7Validation" class="u-side-nav--third-level-menu">
                  <!-- States -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="forms/forms-validation-states.html">States</a>
                  </li>
                  <!-- End States -->
                </ul>
                <!-- Validation: Submneu -->
              </li>
              <!-- End Validation -->
            </ul>
            <!-- End Forms: Submenu-1 -->
          </li>
          <!-- End Forms -->

        </ul>
      </div>
