 <!-- Sidebar Nav -->
      <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
        <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
          <!-- Dashboards -->
          <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu1">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
      <i class="hs-admin-server"></i>
    </span>
              <span class="media-body align-self-center">매출</span>
              <span class="d-flex align-self-center u-side-nav--control-icon">
      <i class="hs-admin-angle-right"></i>
    </span>
              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>

            <!-- Dashboards: Submenu-1 -->
            <ul id="subMenu1" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
              <!-- Dashboards v1 -->
                              <!-- End Dashboards v4 -->
                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="{% url "store:sales_analysis" %}">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                    <i class="hs-admin-harddrive"></i>
                  </span>
                  <span class="media-body align-self-center">매출 분석</span>
                </a>
              </li>
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="{% url "store:daily_sales_list" %}">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-infinite"></i>
        </span>
                  <span class="media-body align-self-center">월간 매출</span>
                </a>
              </li>
              <!-- End Dashboards v1 -->

              <!-- Dashboards v4 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="{% url "store:naver_blog_list" %}">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                    <i class="hs-admin-harddrive"></i>
                  </span>
                  <span class="media-body align-self-center">네이버 블로그 수치</span>
                </a>
              </li>

            </ul>
            <!-- End Dashboards: Submenu-1 -->
          </li>
          <!-- End Dashboards -->

        </ul>
      </div>
      <!-- End Sidebar Nav -->